:root {
    --titulo: 'Yusei Magic', sans-serif;
    --texto: 'Nova Square', cursive;
  }
  
  body {
    height: 100vh;
    background:#eee;
    font-size: 14px;
  }
  
  .header {
    background: linear-gradient(to right, rgba(0, 78, 146, 0.55), rgba(0, 4, 40, 0.59)),url('./img/pexels.jpeg'); 
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  label {
    color:#fff;
  }
  
  .letra {
    white-space: pre-wrap;
  }
  
  h1, h2, h3, h4  {
    font-family: var(--titulo);
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 16px;
    }
  
    .header {
      background: linear-gradient(to right, rgba(0, 78, 146, 0.89), rgba(28, 35, 99, 0.39)),url('./img/pexels2.jpeg'); 
      background-size: cover;
    }
  
    h1 {
      font-size: 1.8rem;
    }
    
    h2 {
      font-size: 1.4rem;
    }
  
    h4 {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 2rem;
    }
    
    h2 {
      font-size: 1.6rem;
    }
  
    h4 {
      font-size: 1.4rem;
    }
   
  }
  
  
  
  